html, body, #fullheight {
  min-height: 100% !important; height: 100%; font-family: Poppins;
}

.maps{
  left:0; bottom: 0; right: 0; height:90%; width:100%; position:absolute;
}

#header{ 
  left:0; top: 0; bottom: 0; right: 0;height:10%; width:100%; position:absolute;
}

.header-btn{
  width:15%; color:#ffffff; font-family: Poppins; font-size: 20px; font-weight: bold; background: #000000; border-radius:8px;height: 50px;
}
.header-btn :hover{
 color: red;
}
.header-btn-active{
  color: red;
}

/* Left Card */
.card_left{
  background-color: hsla(0, 0%, 0%, 0.95); position: absolute; top: 20%; height: 22rem; border: none; border-radius: 0 8px 8px 0;
  width: 21.6rem; padding: 18px;overflow: hidden;
}
/* Center a Component */
.center{
  position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);
}

.card-button{
  height: 6.35rem;border: none; border-radius: 8px;/* flex-direction: row; */align-items: center;/* justify-content: center; */
  transition: transform 1.0s; transform-style: preserve-3d;
}
.card-button.flipped-up {
    -webkit-transform: rotateX( 360deg ); -moz-transform: rotateX( 360deg ); -o-transform: rotateX( 360deg );  transform: rotateX( 360deg );
}

.button-col{ 
  display: flex; flex-direction: column;justify-content: space-around; border: none;
}

.page_btn{ 
  height: auto; width: 20px; border: none;
}

.nav-arrow{
  width: 20%;align-items: center;
}
  /* Search container */
.search-container{
  display: flex;  border: none; padding: 20px; background: hsla(0, 0%, 0%, 0.8); position: absolute;top: 20%; right: 20px;/* height: auto; */
  border-radius: 8px;width: 25%;
}
.search-icon{
  width: 15%; height: auto;
}

.search-icon:hover{
  /* background-color:green; */
  border-radius: 5px;
}

.search-icon img{
  position: relative;width:auto;height: 70%;
}
  /* Search Input */
.search-input{
  width: 85%;  border:none; border-radius: 5px;  font-size: 15px; height: 50px; padding-left: 10px;
}
  /* Button Contents */
.btn-icon{
  margin-top: 10px; height: 1.5rem; width: auto;
}
.btn-text{
  text-align: center; color: #ffffff; font-size: 12px; font-weight: bold;
}
.btn-title{ 
   color: red; font-size: 12px; text-align: center;font-weight: 900;
}
.search-input.null-value{
  border: 1px solid red; background: #ff3300;
}


/* Emergency Container */
#emergency-container{
  height:auto; background: linear-gradient(to right, rgba(243, 247, 0, 0.7), #ff3300 50%);position: absolute;bottom: 0;
  left: 0;right: 0;
  /* background: linear-gradient(to right, rgba(243, 247, 0, 0.5), #ff0000c9 50%); position: absolute; bottom: 0; left: 0; right: 0; */
  /* top:0; */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  grid-gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  color: #ffffff;
 }

/* info window */
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;  text-align: right;
}
.iw_table_icon {
  text-align: right;
}

.center-items{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */ display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center; align-items: center;
}

.emergency-text{
  font-size: 16px; font-weight: 800; color: #ffffff; font-family: 'Poppins'; letter-spacing: 1px;
}

/* HISTORICAL PAGE */
#history-header{
  display: none;  border: none; ; background:  #343232; position: absolute; top: 4%; left: 8%; right: 8%;/* height: auto; */  border-radius: 8px;height: 65px;
}

.header-btn-text{
  letter-spacing: 1px; font-size: 14px;
  text-transform: capitalize;
}
.header-btn-icon{
  height: 17px;width:auto;
}

.history-input{
  width: 200px;  min-width: 100px;
}

#table-container{
 border: none;background: transparent; position: absolute; top: 17%; left: 8%; right: 8%;/* height: auto; */border-radius: 8px; height:80%;
}

.table-text{
  text-align: center;
  color: #ffffff;
}

 tbody > tr{
  border-bottom:1px solid #ffffff;
}

.mdc-data-table__cell {
  width: 14.3% ;
  height: 20%;
}

/* drop down menu */
.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}


/* SELECT DROP DOWN */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  margin: 0 5px 0 5px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #ffffff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 0px;
}

/*style the items (options), including the selected item:*/
.select-items div{
  color: #000000;
  padding: 5px;
  border-bottom: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-top: 1px solid rgba(0, 0, 0, 0.1) ;
  border-radius: 0 0 8px 8px ;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* filter btn */
#filter-btn{
  background-color: #000000; border: none; color: #ffffff; width: 17%;
  margin: 0 5px 0 5px;
  border-radius: 15px;
  outline: none;
}

.mdc-button{
 background: #000000;outline-style: none; border: 1px solid red;
}

/* date picker */
#datepicker{
  border: none;
  box-shadow: none;
  border-radius: 0;
}

#datepicker:focus{
  width: 108%;
  border-radius: 0;
}


.block
{
  margin: 0 auto;
  max-width: 900px;
  padding: 50px 30px;   
}
.input-res
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
}


#search-text{
  box-shadow:none;outline: none; border: 0 0 0 1px;box-shadow: none; border-radius:0; color: #000000;will-change: auto;
}
#search-text:focus{  border-right: none;  border-top: none;  border-bottom: none;  border-left-color:grey;
}
.emergency_tiles{
  justify-items:center; width: 25%;border-right: 1px solid #ffffff;
}
/**

slider
*/
* {
  box-sizing: border-box;
}

.slider {
    width: 50%;
    /* margin: 100px auto; */
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}



/* RESPONSIVENESS */
@media only screen and (max-width: 640px) {
    /* Search container */
  .search-container{
    border-radius: 4px;  padding: 10px;  height: 50px;
  }

  .search-input{
  font-size: 12px; height: 30px; padding-left: 10px;
  }
 
  .search-icon{
    
  }

  .search-icon img{
    height: 70%;
  }
  .card_left{
    height: 15rem; width: 11.6rem; padding: 0;
  }

  .card-button{
    height: 3.35rem;  
  }
  .btn-icon{
    height: 0.7rem;
  }

  .btn-title{
    font-size: 6px; font-weight: 500;
  }
  .btn-text{
    font-size: 6px;
  }
  .icon{
    width: 20%; height: 1rem; margin-left: 10px
  }

  .page_btn{
    height: auto; width: 10px; border: none;
  }
  .btn-icon{
    margin-top: 10px; height: 1rem; width: auto;
  }
  .header-btn{
    width:150px;
  }
  .header-btn-text{
    letter-spacing: 1px; font-size: 12px;
  }
  
  .header-btn-text{
    letter-spacing: 1px; font-size: 8px;
  }
  .header-btn-icon{
    height: 15px;width:auto;
  }
}



/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div> */

/* mobile devices */
@media screen and (min-width: 480px) {
  
  
}
/* medium size screen  */
@media screen and (max-width: 900px) and (min-width: 640px) {

}
/* large screens */
@media screen and (min-width: 900){

}

